@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F1FAEE;
  color: #1B4332;
}
:root {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3 {
  font-family: var(--font-serif);
}
